<!doctype html>
<html lang="en"><head>
  <title>Desmond Ayettey Design System Buttons</title>
  <link rel="icon" type="image/x-icon" href="../img/favicon.png">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin="">
  <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;1,400;1,500&amp;display=swap" rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/prism.css">

</head>

<body>

  <div class="d-flex">
    <nav id="sidebar">
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="toggle-btn">

          <div id="nav-icon1">
            <span></span>
            <span></span>
            <span></span>
          </div>
        </button>
      </div>
      <div class="p-4 pt-6">
   <a href="../index.html" class="logo"><img alt="Desmond Ayettey" class="mb-1 slogo" src="../img/favicon.png"></a> Desmond Ayettey
        <ul class="list-unstyled components">

          <li class="active">
            <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Foundations</a>

            <ul class="collapse list-unstyled" id="homeSubmenu">
              <li>
                <a href="../foundation/type.html">Typography</a>
              </li>
              <li>
                <a href="../foundation/color.html">Color Palette</a>
              </li>
              <li>
                <a href="../foundation/logo.html">Logo Variations</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#ComponentsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Components</a>
            <ul class="collapse.show list-unstyled" id="ComponentsSubmenu">
              <li>
                <a href="#">Buttons</a>
              </li>
              <li>
                <a href="../components/Footer.html">Footers</a>
              </li>
              <li>
                <a href="../components/Navigation.html">Navigation Bars</a>
              </li>
            </ul>
          </li>

          <li>
            <a href="#PatternsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Patterns</a>
            <ul class="collapse list-unstyled" id="PatternsSubmenu">
              <li>
                <a href="../patterns/Home.html">Homepage</a>
              </li>
              <li>
                <a href="../patterns/Resource.html">RecentWork</a>
              </li>

            </ul>
          </li>


        </ul>




      </div>
    </nav>

    <!-- Page Content  -->
    <div class="container">
      <div class="row p-5 pt-6">
        <div class="btn-container" id="content">

          <h1>Buttons</h1>

          <p>This design system includes three styles of buttons</p>
          <h2 class="mb-4">Button States</h2>
          <div class="row mb-4">
            <div class="col-3">
              <h3>Normal</h3>
            </div>
              <div class="col-3"><button class="btn btn-primary" role="button" aria-disabled="true">Learn more</button></div>
            <div class="col-3"><button class="btn btn-secondary">Learn more</button></div>
            <div class="col-3"><button class="btn btn-inverse">Inverse</button></div>
            </div>
            
            
            <div class="row mb-4">
            <div class="col-3">
              <h3>Hover</h3>
            </div>
            <div class="col-3"><button class="btn btn-primary btn-hover">Learn more</button></div>
            <div class="col-3"><button class="btn btn-secondary btn-hover">Learn more</button></div>
            <div class="col-3"><button class="btn btn-inverse btn-hover">Inverse</button></div>
          </div>
          <div class="row mb-4">
            <div class="col-3">
              <h3>Disabled</h3>
            </div>
            <div class="col-3"><button disabled="" class="btn btn-primary">Learn more</button></div>
            <div class="col-3"><button disabled="" class="btn btn-secondary">Learn more</button></div>
            <div class="col-3"><button disabled="" class="btn btn-inverse">Inverse</button></div>
          </div>

            Buttons
            <h2>Accessibility Considerations</h2>
          <p>Buttons should only be used in situations where users need to initiate actions, such as submitting forms.
            Buttons should never be used in place of links nor should other elements (e.g. links) be styled like
            buttons. By applying button styling only to button elements, we can improve accessibility for keyboard
            users.</p>

          <h2>Usage</h2>
          <ul>
            <li>Use buttons to initiate actions.</li>
            <li>Use button classes provided in code example section below.</li>
            <li>Buttons must contain descriptive text.</li>
          </ul>

          <h2>Code Examples</h2>
          <h3>Primary Button</h3>
          <pre><code>&lt;button class="btn btn-primary"&gt;Descriptive text&lt;/button&gt;</code></pre>

          <h3>Secondary Button</h3>
          <pre><code>&lt;button class="btn btn-secondary"&gt;Descriptive text&lt;/button&gt;</code></pre>

          <h3>Inverse Button</h3>
          <pre><code>&lt;button class="btn btn-inverse"&gt;Descriptive text&lt;/button&gt;</code></pre>

        </div> <!-- Content  -->
      </div><!-- Row  -->
    </div><!-- Container -->
  </div>
  <script src="../js/prism.js"></script>
  <script src="../js/jquery.min.js"></script>
  <script src="../js/popper.js"></script>
  <script src="../js/bootstrap.min.js"></script>
  <script src="../js/main.js"></script>


<div id="vldt-unmoderated-testing" class="vldt-installed" style="display: none;"></div></body></html>